:root {
    --white-color: #FFFFFF;
    --gray: #2E2F42;
    --iris: #4D5AE5;
    --white-black: #434455;
    --gritter: #F4F4FD;
    --blue-white: #E7E9FC;

}

body {
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.site-body {}


/* --------------HEADER------------ */

.header {
    background: var(--white-color);
}

.header-navigatoin {}


.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: var(--gray);
}


.header-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;



    color: var(--iris);

}

.header-list {}

.header-item {}



.header-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--gray);



}

.header-link:hover {
    color: var(--iris);
}

.header-link:focus {
    color: var(--iris);
}


.contacts-list {}

.header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;



    color: var(--white-black);

}

.header-mail:hover {
    color: var(--iris);
}

.header-mail:focus {
    color: var(--iris);
}

.header-tell {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;



    color: var(--white-black);
}

.header-tell:hover {}



/* ------------HERO---------- */


.hero {
    background: var(--gray);
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--white-color);
}

.hero-btn {
    background: var(--iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;


    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    cursor: pointer;
}

.hero-btn:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;

}

.hero-btn:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
}

.main {
    background: var(--white-color);
}

.main-list {}

.main-item {}

.main-pre-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;



    color: var(--white-black);
}

.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;



    color: var(--gray);
}


.action {
    background: var(--white-color);
}

.action-do {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--gray);
}

.list {}

.action-photo {}

.team {
    background: var(--gritter);
}

.our-team {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--gray);
}

.team-photo {}

.team-people {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;



    color: var(--gray);
}

.team-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;


    color: var(--white-black);
}


/* ----------PORTFOLIO------ */


.princes {
    background: var(--white-color);
}


.princes-btn {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.princes-btn:hover {
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}

.princes-btn:focus {
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}


.picture {}


.picture-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;

    letter-spacing: 0.02em;

    color: var(--gray);
}

.picture-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;


    color: var(--white-black);
}




/* ----------FOTER---------- */

.footer {
    background: var(--gray);
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;


    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;



    color: var(--gritter);
}

.footer-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;


    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;


    color: var(--iris);
}

.footer-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;


    color: var(--blue-white);
}